<style>
  @import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    class="logo"
    width="500"
    height="155"
    alt="Angular Logo"
    src="../assets/AURICHIO2.png"
  />
</div>

<div class="content" role="main">
  <a class="whatsapp" href="https://wa.me/55011913574338" target="”_blank”">
    <img class="whatsapp-img" src="../assets/whatsapp.png" />
  </a>

  <!-- cards middle -->
  <div class="cards">
    <div class="card-container-text">
      <span class="title">Aurichio</span>
      <span class="title">Motorista Executivo</span>
      <p class="context">
        Sua viagem com conforto, segurança e um serviço personalizado que supera
        suas expectativas.
      </p>
      <a class="btn" href="https://wa.me/55011913574338" target="”_blank”"
        >Agende sua Corrida</a
      >
    </div>
    <div class="card-container"></div>
  </div>
  <div class="certificado">
    <div class="card-certificado" data-aos="fade-right">
      <img
        class="certificado-image"
        alt="Angular Logo"
        src="../assets/segurança.png"
      />
      Segurança
    </div>
    <div class="card-certificado" data-aos="fade-up">
      <img
        class="certificado-image"
        alt="Angular Logo"
        src="../assets/conforto.png"
      />
      Conforto
    </div>
    <div class="card-certificado" data-aos="fade-left">
      <img
        class="certificado-image"
        alt="Angular Logo"
        src="../assets/tranquilidade.png"
      />
      Tranquilidade
    </div>
  </div>

  <div class="conclusão">
    <div>
      <img class="aurichio-img" src="../assets/aurichio.jpg" />
    </div>
    <div class="conclusão-text">
      <p
        data-scroll="true"
        data-scroll-direction="horizontal"
        data-scroll-speed="10"
      >
        Desde 2016, com mais de 15.000 viagens realizadas
      </p>
      <p >
        Sua viagem com conforto, segurança e um serviço personalizado que supera
        suas expectativas.
      </p>
      <p>
        Conte comigo para transformar cada deslocamento em uma experiência
        excepcional.
      </p>
      <p>Vamos juntos rumo a novas aventuras!</p>
      <a class="btn" href="https://wa.me/55011913574338" target="”_blank”"
        >Agende sua Corrida</a
      >
    </div>
  </div>
  <!-- serviços -->
  <div class="information">
    <!-- <div class="information-title">
      <p >Seja para ir :</p>
    </div> -->
    <div
      class="information-card"
      data-aos="fade-zoom-in"
      data-aos-easing="ease"
      data-aos-duration="1000"
      data-aos-delay="300"
      data-aos-offset="0"
    >
      <img
        class="information-image"
        width="40"
        height="40"
        alt="Angular Logo"
        src="../assets/reunião.png"
      />
      <span>Reuniões</span>
    </div>
    <div
      class="information-card"
      data-aos="fade-zoom-in"
      data-aos-easing="ease"
      data-aos-duration="1000"
      data-aos-delay="300"
      data-aos-offset="0"
    >
      <img
        class="information-image"
        width="40"
        height="40"
        alt="Angular Logo"
        src="../assets/shows.png"
      />
      <span>Shows</span>
    </div>
    <div
      class="information-card"
      data-aos="fade-zoom-in"
      data-aos-easing="ease"
      data-aos-duration="1000"
      data-aos-delay="300"
      data-aos-offset="0"
    >
      <img
        class="information-image"
        width="40"
        height="40"
        alt="Angular Logo"
        src="../assets/evento.png"
      />
      <span>Eventos</span>
    </div>
    <div
      class="information-card"
      data-aos="fade-zoom-in"
      data-aos-easing="ease"
      data-aos-duration="1000"
      data-aos-delay="300"
      data-aos-offset="0"
    >
      <img
        class="information-image"
        width="40"
        height="40"
        alt="Angular Logo"
        src="../assets/aeroporto.png"
      />
      <span>Aeroporto</span>
    </div>
    <div
      class="information-card"
      data-aos="fade-zoom-in"
      data-aos-easing="ease"
      data-aos-duration="1000"
      data-aos-delay="300"
      data-aos-offset="0"
    >
      <img
        class="information-image"
        width="40"
        height="40"
        alt="Angular Logo"
        src="../assets/personalizada.png"
      />
      <span>Viagens Personalizadas</span>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-card">
      <div class="col-md-6">
        <h4>Entre em contato</h4>
      </div>
      
    </div>
    <div class="footer-card">
        <p class="footer-text">
          <a
            class="instagram"
            href="https://instagram.com/aurichiomotorista"
            target="”_blank”"
          >
            <img
              class="information-image"
              width="40"
              height="40"
              alt="Angular Logo"
              src="../assets/instagram.png"
            />
          </a>
          <a
            class="instagram"
            href="https://instagram.com/aurichiomotorista"
            target="”_blank”"
          >
            Instagram
          </a>
        </p>
        <p class="footer-text">
          <a
            class="instagram"
            href="https://wa.me/55011913574338"
            target="”_blank”"
          >
            <img
              class="information-image"
              width="40"
              height="40"
              alt="Angular Logo"
              src="../assets/whatsapp.png"
            />
          </a>
          <a
            class="instagram"
            href="https://wa.me/55011913574338"
            target="”_blank”"
          >
            Whatsapp
          </a>
        </p>
        <p class="footer-text">
          <img
            class="information-image"
            width="40"
            height="40"
            alt="Angular Logo"
            src="../assets/email.png"
          />
          Email: exemplo.com
        </p>
    </div>
  </footer>
</div>
