
<style>
  @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    class="logo"
    width="200"
    height="200"
    alt="Angular Logo"
    src= "../assets/AURICHIO-Photoroom.png-.png"
  />
</div>

<div class="content" role="main">

  <!-- cards middle -->
  <div class="cards">
    <div class="card-container-text"> 
      <p class="title">Motorista Executivo</p>
      <p class="context">Seja para eventos especiais, festas, shows, reuniões ou simplesmente para explorar novos lugares, meu compromisso é proporcionar conforto, segurança e um serviço personalizado que supera suas expectativas.</p>
      <a href="https://wa.me/55011995272276" target=”_blank”>
        <img 
        width="80"
        height="80"
        src= "../assets/whatsapp.png" 
        />
      </a>
    </div>
    <div class="card-container">
      <img
      class="card-image"
      width="650"
      height="650"
      src= "../assets/aurichio.jpg"
    />
    </div>
  </div>

  <!-- Footer -->
  <footer>
  </footer>
</div>

<router-outlet></router-outlet>
