<style>
  @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    class="logo"
    width="200"
    height="200"
    alt="Angular Logo"
    src= "../assets/AURICHIO-Photoroom.png-.png"
  />
</div>

<div class="content" role="main">
  <a class="whatsapp"  href="https://wa.me/55011913574338" target=”_blank”>
    <img 
    class="whatsapp-img"
    
    src= "../assets/whatsapp.png" 
    />
  </a>

  <!-- cards middle -->
  <div class="cards ">
    <div class="card-container-text"> 
      <span class="title">Aurichio</span>
      <span class="title">Motorista Executivo</span>
      <p class="context">Sua viagem com conforto, segurança e um serviço personalizado que supera suas expectativas.</p>
      <a class="btn" href="https://wa.me/55011913574338" target=”_blank”>Agende sua Corrida</a>
    </div>
    <div class="card-container">
    </div>
  </div>
  <!-- serviços -->
  <div class="information">
    <!-- <div class="information-title">
      <p >Seja para ir :</p>
    </div> -->
    <div class="information-card">
      <img
      class="information-image"
      width="40"
      height="40"
      alt="Angular Logo"
      src= "../assets/reunião.png"
      />
      <span>Reuniões</span>
    </div>
    <div class="information-card">
      <img
      class="information-image"
      width="40"
      height="40"
      alt="Angular Logo"
      src= "../assets/shows.png"
      />
      <span>Shows</span>
    </div>
    <div class="information-card">
      <img
      class="information-image"
      width="40"
      height="40"
      alt="Angular Logo"
      src= "../assets/evento.png"
      />
      <span>Eventos</span>
    </div>
    <div class="information-card">
      <img
      class="information-image"
      width="40"
      height="40"
      alt="Angular Logo"
      src= "../assets/aeroporto.png"
      />
      <span>Aeroporto</span>
    </div>
    <div class="information-card">
      <img
      class="information-image"
      width="40"
      height="40"
      alt="Angular Logo"
      src= "../assets/personalizada.png"
      />
      <span>Viagens Personalizadas</span>
    </div>
  </div>

  <div class="conclusão">
    <div>
      <img
      class="aurichio-img"
        src="../assets/aurichio.jpg"
      />
    </div>
    <div class="conclusão-text">
      <p>Desde 2016, com mais de 15.000 viagens realizadas</p>
      <p>Sua viagem com conforto, segurança e um serviço personalizado que supera suas expectativas.</p>
      <p>Conte comigo para transformar cada deslocamento em uma experiência excepcional.</p>
      <p>Vamos juntos rumo a novas aventuras!</p>
      <a class="btn" href="https://wa.me/55011913574338" target=”_blank”>Agende sua Corrida</a>
      
    </div> 
  </div>

  



  <!-- Footer -->
  <footer>
  </footer>
</div>


